[Unit]
Description=After the jack audio system has started, this will be launched
After=start-jack.service

[Service]
Type=simple
User=tymo
Group=audio
CapabilityBoundingSet=CAP_SYS_NICE
AmbientCapabilities=CAP_SYS_NICE
ExecStart=/usr/bin/bash /home/tymo/post-jack.sh

[Install]
WantedBy=multi-user.target

