[Unit]
Description=Start NAM after jack has started
After=start-jack.service

[Service]
Type=simple
User=tymo
Group=audio
CapabilityBoundingSet=CAP_SYS_NICE
AmbientCapabilities=CAP_SYS_NICE
ExecStart=/home/tymo/start-nam.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target

